body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  background-image: url("https://4kwallpapers.com/images/wallpapers/tokyo-tower-japan-metal-structure-cityscape-city-lights-3840x2160-3672.jpg") !important;
  min-height: 100vh;
  background-size: cover !important;

  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.card {
  overflow: hidden;
}

.card img {
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: brightness(70%);
}

.card:hover img {
  transform: scale(1.05);
  filter: brightness(100%);
}

.post-img {
  object-fit: cover;
  height: 250px;
}

.card-text {
  text-shadow: 1px 1px 2px black, 1px 1px 1em black, 1px 1px 1.2em blue;
}

.img-detail {
  width: 100%;
  border-radius: 20px;
}

.glass-box {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}

.is-invalid {
  border: 2px solid red;
}
